<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a778df">  <td>20/05/11 11:35:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;IOSDemoTest.setUp(java.lang.String)[pri:0, instance:com.experitest.auto.IOSDemoTest@258e2e41]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@2041416495</td>   <td></td> </tr>
<tr bgcolor="a778df">  <td>20/05/11 11:36:11</td>   <td>45950</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IOSDemoTest.test()[pri:0, instance:com.experitest.auto.IOSDemoTest@258e2e41]">test</td> 
  <td>main@2041416495</td>   <td></td> </tr>
<tr bgcolor="a778df">  <td>20/05/11 11:36:34</td>   <td>69069</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;IOSDemoTest.tearDown()[pri:0, instance:com.experitest.auto.IOSDemoTest@258e2e41]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@2041416495</td>   <td></td> </tr>
</table>
